<div class="container">
    <h1>Shopping Cart</h1>
    <div class="shopping-cart">
        <h2>Shopping Cart</h2>
        <table>
            <thead>
                <tr>
                    <th class="text-center">Product</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Total</th>
                    <th class="text-center">Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cartItem of cartItems">
                    <td class="text-left">{{ cartItem.product.foodName }}</td>
                    <td class="text-center">
                        <input type="number" [(ngModel)]="cartItem.quantity" min="1"
                            class="text-center border-success-subtle w-25">
                    </td>
                    <td class="text-center ">{{ cartItem.product.foodPrice | currency:'USD' }}</td>
                    <td class="text-center">{{ calculateCartTotal() | currency:'USD' }}</td>
                    <td class="text-center"><button class="btn btn-outline-danger" (click)="removeFromCart(cartItem)">
                            <i class="fa fa-trash"></i>
                        </button></td>
                </tr>
            </tbody>
        </table>

        <div class="cart-summary">
            <p>Cart Total: {{ calculateCartTotal() | currency:'USD' }}</p>
            <button class="btn btn-success"
                (click)="checkoutOrder()">Order</button>
        </div>
    </div>
    <div class="product-list">
        <h2>More Product</h2>
        <ul>
            <li *ngFor="let product of products">
                <div class="product">
                    <img src="{{ product.foodImg }}" alt="{{ product.foodName }}">
                    <h3>{{ product.foodName }}</h3>
                    <p>{{ product.foodPrice | currency:'USD' }}</p>
                    <button class="btn btn-outline-success"
                        (click)="addToCart(product)"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                </div>
            </li>
        </ul>
    </div>
</div>