<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/img/bird2.png" alt="DemoKitchen Logo" width="50 " height="50">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="menu" routerLinkActive="active-link">Menu</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="about" routerLinkActive="active-link">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active-link">Contact</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#" aria-label="Shopping Cart">
            <i class="fa fa-shopping-cart"></i> <!-- Class của Font Awesome -->
          </a>
        </li>
          
        <li class="nav-item"
          *ngIf="!user; else showLogin">
            <a class="btn btn-dark" [routerLink]="'/login'" routerLinkActive="active-link">Login/Sign In</a>
        </li>
        <ng-template #showLogin>
          <li class="rounded-pill badge bg-dark p-1" data-bs-toggle="dropdown" aria-expanded="false">
            <a>
              <nz-avatar nzIcon="user" 
              [nzSrc]="user.avatar">
              </nz-avatar>
            </a>
          </li>
        </ng-template>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a class="dropdown-item" type="button"
            [routerLink]="'/personal'" routerLinkActive="active-link">
              <span nz-icon nzType="user" nzTheme="outline"></span> Personal
          </a>
        </li>
          <li>
            <a class="dropdown-item" type="button" 
            (click)="logout()">
              <span nz-icon nzType="logout" nzTheme="outline"></span> Log out</a>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</nav>
