inpiut.ng-invalid.ng-touched{
    border:1 px solid red;
}
.breadcrumb {
    padding-left: 20px;
  }
  
  /* Tùy chỉnh để loại bỏ padding phải của mục cuối cùng */
  .breadcrumb .breadcrumb-item:last-child {
    padding-left: 0;
  }
.lomao{
  
    background-image: url('../../../assets/img/banner2.jpg');
    height: 450px;
    background-position: center top;
    background-size: cover;

}
  