<section class="container mt-5">
  <div class="row gap-row">
    <div class="col-12 col-lg-7">
      <div>
        <h1>Demo Kitchen</h1>
        <div class="icon-label">
          <i class="fa fa-map-pin"></i>
          <p class="ml-2">828 Su Van Hanh, HCM, Vietnam</p>
        </div>
        <div class="icon-label">
          <i class="fa fa-envelope"></i>
          <p class="ml-2">dinhn&#64;gmail.com</p>
        </div>
        <div class="icon-label">
          <i class="fa fa-phone"></i>
          <p class="ml-2">0909090909</p>
        </div>
      </div>
  
      <form class="col-lg-8" #contactForm="ngForm" (ngSubmit)="submitForm(contactForm)">
        <div class="row">
          <div class="col-lg-6 mt-2 mb-2">
            <input type="text" class="form-control" placeholder="Enter First Name" name="firstName" [(ngModel)]="formData.firstName" required>
          </div>
          <div class="col-lg-6 mt-2 mb-2">
            <input type="text" class="form-control" placeholder = "Enter Last Name" name="lastName" [(ngModel)]="formData.lastName" required>
          </div>
          <div class="col-lg-12 mt-2 mb-2">
            <input type="email" class="form-control" placeholder="Enter Email" name="email" [(ngModel)]="formData.email" required email>
          </div>
          <div class="col-lg-12 mt-2 mb-2">
            <input type="tel" class="form-control" placeholder="Enter Mobile" name="mobile" [(ngModel)]="formData.mobile" required pattern="^\d{10}$">
          </div>
          <div class="col-lg-12">
            <button class="btn btn-md btn-dark" [disabled]="!contactForm.valid">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-5 col-lg-5 shadow">
      <div class="">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4632341056713!2d106.66607259001876!3d10.775788941450397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f9023a3a85d%3A0xdee5c99a7b02feab!2sHuflit!5e0!3m2!1sen!2s!4v1638282926174!5m2!1sen!2s"
          width="100%" height="400px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</section>
