<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">About</li>
  </ol>
</nav>
<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>

    <p>
        -Đa dạng hương vị: Các cửa hàng bán đồ ăn thường cung cấp một loạt các món ăn và hương vị từ khắp nơi trên thế giới. Bạn có thể thưởng thức các món ăn quốc tế, món ăn địa phương, hoặc thậm chí là các món ăn sáng tạo và độc đáo.
        <br/>
        -Lựa chọn đa dạng: Các cửa hàng bán đồ ăn thường cung cấp nhiều tùy chọn cho khách hàng, bao gồm cả thực đơn à la carte, buffets, cơm vặt, và thậm chí cả lựa chọn thực đơn chay hoặc gluten-free cho những người có nhu cầu đặc biệt.
        <br/>
        -Trải nghiệm xã hội: Điều này có thể là nơi tốt để bạn gặp gỡ bạn bè hoặc tụ tập gia đình để cùng thưởng thức bữa ăn. Các cửa hàng bán đồ ăn thường tạo ra môi trường thoải mái và vui vẻ để tạo ra những kỷ niệm đáng nhớ.
        <br/>
        -Dịch vụ chuyên nghiệp: Các nhà hàng và cửa hàng đồ ăn thường có đội ngũ nhân viên chuyên nghiệp và phục vụ tận tâm để đảm bảo bạn có một trải nghiệm ẩm thực tốt nhất.
        <br/>
        -Sáng tạo và thẩm mỹ: Nhiều cửa hàng bán đồ ăn đầu bếp và đội ngũ nấu ăn chuyên nghiệp, điều này đồng nghĩa với việc bạn có cơ hội thưởng thức các món ăn sáng tạo và trình bày mỹ thuật.
        <br/>
        -Chỗ dừng chân ưa thích: Các cửa hàng bán đồ ăn có thể là điểm đến lý tưởng cho cả bữa trưa nhanh chóng và bữa tối thư giãn. Bạn có thể chọn giữa thực đơn nhanh hoặc thường là cơ hội để cả gia đình hoặc bạn bè cùng thắt dây giày, ngồi lại và thưởng thức bữa ăn.
        <br/>
    </p>

</div>