.banner
{
    background-image: url('../../../assets/img/banner3.jpg') !important;
    height: 600px;
    background-position: center top;
    background-size: cover;
}
.content
{
    top: 30%;
    left: 20%;
    position: absolute;
}
.content h1 
{
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    line-height: 1.2;
}
.content a 
{
    text-decoration: none;
    background-color: #fff;
    color: var(--primary-color);
    padding: 15px 20px !important;
    border-radius: 5px !important;
}

.content a:hover 
{
    background-color: var(--primary-color);
    color: #fff;
}

.stepBox 
{
    background-color: #000;
    padding: 20px 20px;
    border-radius: 5px;
    text-align: center;
}
.stepBox h1 
{
    font-size: 50px;
    font-weight: bold;
    color:var(--primary-color);
}
.stepBox p 
{
    font-size: 20px;
    font-style: italic;
    color: #fff;
}
.highlight
{
    color: var(--primary-color);
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.foodbox 
{
    padding: 10px 5px;
    border: transparent;
    transition: .5s;
    margin-bottom: 10px;
} 
.foodbox img
{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}
.foodbox h1 
{
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}
.viewmorebtn
{
    text-decoration: none;
    background-color: var(--primary-color);
    color: #000;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 18px;
    
}

@media screen and (max-width:600px)
{
    .banner
{
    height: 700px;
}
}
.foodbox button {
    display: none;
    transition: all 0.5s;
    position: relative;
}
.foodbox button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}

.foodbox button:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}

.foodbox button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    transform: scale(1.2,1.2);
}
.foodbox button:hover::after {
    opacity: 1;
    transform: scale(1,1);
}

.foodbox:hover button {
    display: inline;
}

.foodbox:hover {
    box-shadow: 0 0 5px var(--primary-color);
    border-radius: 5px;
}
